@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 100;
    margin: 0;
    padding: 0;
    background-color: #F0EDEE;
}

.navigation {
    font-family: 'Space Mono', monospace;
    font-size: 1.4rem;
    background-color: #474647;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    position: sticky;
    top: 0;
}

.nom_page {
    font-weight: 700;
    color: #F0EDEE;
}

.nav_links {
    display: flex;
    gap: 2rem;
}

.nav_links a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav_links a:hover {
    color: #412fe0;
}
.presentation_perso {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    font-weight: 400;
    font-size: clamp(1rem, 2.5vw, 1.6rem);
    margin: 10rem 0rem 10rem 0rem; /*t r b l*/

}

.presentation_perso p {
    font-size: 2.5rem;
    text-align: left;
    transition: transform 0.5s ease-in-out;
}

.presentation_perso p:hover {
    transform: scale(1.1);
}

.mon_logo {
    max-width: 20rem;
    width: 100%;
    height: auto;
}

.floating img {

    position: relative;
    z-index: -1;
    width: 12.5rem;
    height: auto;
    display: block;
    margin: 2rem auto;
    animation: float_flip 7s linear infinite;
    transform-origin: center;
}
/* 
.mon_logo:hover {
    animation: float_flip 5s linear infinite;
    transform-origin: center;
} */

@keyframes float_flip {
    0% {
        transform: translateY(0) rotateY(0deg);
    }
    25% {
        transform: translateY(-10px) rotateY(90deg);
    }
    50% {
        transform: translateY(0) rotateY(180deg);
    }
    75% {
        transform: translateY(10px) rotateY(270deg);
    }
    100% {
        transform: translateY(0) rotateY(360deg);
    }
}

.deco {

    max-width: 3rem;
    max-height: auto;
}

.line_deco {

    display: flex;
    justify-content: space-around;
    margin-bottom: 5rem;
}

h1:hover {

    color: #412fe0;
}

.resume_button {

    display: flex;
    margin: 0rem 0rem 10rem 10rem;
    font-size: 1.5rem;
    background-color: #00000000;
    border-radius: 0.6rem;
    padding: 1%;
    border-color: #474647;
    transition: background-color 1s;
}

.resume_button:hover {
    color: #F0EDEE;
    background-color: #412fe0;
    border-color: #00000000;
    transition: background-color 1s;
}

main {
    
    display: flex;
    flex-direction: column;
    margin-left: 3%;
}

footer {
    margin: 0 0 3rem 3rem;
}

